<h1>New Recommendation</h1>

<% if @recommendation.errors.any? %>
    <h3>Oops there were some errors. Please try again:</h3>
    <ul>
      <% @recommendation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_for @recommendation do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    <%= f.label :job_description %><br>
    <%= f.text_field :job_description %><br>
    <%= f.label :email %><br>
    <%= f.email_field :email %><br>
    <%= f.label :phone %><br>
    <%= f.text_field :phone %><br>
    <br>
    <%= f.submit class:"btn btn-success" %>
  <% end %>
