<h1>Name: <%= @recommendation.name %></h1>
<h3>Job Description: <%= @recommendation.job_description %></h3>
<h3>Email: <%= @recommendation.email %></h3>
<h3>Phone: <%= @recommendation.phone %></h3>

<% if current_user.admin?%>

<p><%= link_to "Edit", edit_recommendation_path(@recommendation) %></p>
<%end%>

  <p><%= link_to "Return to recommendations", recommendations_path %></p>
