<div class="recommendation_index">
  
<%= image_tag @recommendation.picture_url.to_s, class: 'project_image'%>
<h1>Name:
  <%= @recommendation.name %></h1>
<h3>Job Description:
  <%= @recommendation.job_description %></h3>
<h3>Email:
  <%= @recommendation.email %></h3>
<h3>Phone:
  <%= @recommendation.phone %></h3>
<h3>Url:
  <%= @recommendation.url %></h3>



<%if user_signed_in?%>
<% if current_user.admin? %>
<p><%=link_to "New", new_recommendation_path(@recommendation), class: 'btn btn-info' %>
<%= link_to "Edit", edit_recommendation_path(@recommendation), class: 'btn btn-success' %>
<%= link_to "Delete", @recommendation,
                            :data => {:confirm => "Are you sure?",
                                      :method => "delete"}, class: 'btn btn-danger' %>
<%end%>
<%end%>

<%= link_to "Return to recommendations", recommendations_path, class: 'btn btn-primary' %></p>
</div>
