<h1><%= @recommendation.name %></h1>
<h3><%= @recommendation.job_description %></h3>
<h3><%= @recommendation.email %></h3>
<h3><%= @recommendation.phone %></h3>

  <p><%= link_to "Return to recommendations", recommendations_path %></p>
