<div class="about_div">
<div class="front_img">
<%= image_tag "port_img.jpg" %>
</div>
</div>
<hr>
<div class="about_div">
  <h1>About Me</h1>
  <p>My name is Paul Nderitu.
I am a Self made entrepreneur, and an upcoming Software Engineer at <a href=http://www.moringaschool.com/>Moringa School</a>. I am a dreamer, and I believe that technology is the future.
If you want to flourish beyond your wildest dreams, I suggest you ask me about technology for your idea or business.
Click Here For more info.</p>
</div>
<hr>
<h1>Projects</h1>

<br>


    <div class="row">
      <% @projects.each do |project| %>
    <div class="col-md-4">
      <br><%= link_to project.title, project_path(project) %><br>
      <%= link_to image_tag project.picture_url.to_s, class: 'project_icon'%><br>
      <%= project.created_at%><br>
      <%= link_to "Delete", project_path(project), method: :delete, data: { confirm: "Sure?" }%>
    </div>
    <% end %>
  </div>




<% if user_signed_in? %>
  <% if current_user.admin? %>
    <hr>

     <%= link_to "New Project", new_project_path, id: "new_link", remote: true%><br>
     <%= link_to "New Recommendation", new_recommendation_path %>


  <% end %>
<% end %>
