<h1>New project</h1>

<% if @project.errors.any? %>
    <h3>Oops there were some errors. Please try again:</h3>
    <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>


  <%= form_for @project do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.submit  %>
  <% end %>
