<h1><a href="<%= @project.link %>"><br><%= @project.title%></a></h1>
<%= image_tag @project.picture_url.to_s, class: 'project_image'%>
  <br>
  <h2>Technologies: <%= @project.skill %></h1> <br>
  <br>




<% if @project.comments.any? %>
  <h4>Here are the reviews for this project:</h4>

  <ul>
    <% @project.comments.each do |comment| %>
      <li>
        <%= comment.review %>
        <% if user_signed_in? %>|
        <%= link_to "Edit", edit_project_comment_path(@project, comment) %> |
        <%= link_to "Delete", project_comment_path(@project, comment),
                                 :data => {:confirm => "Are you sure?",
                                                :method => "delete"} %>
                                                <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no reviews yet!</p>
<% end %>

<% if user_signed_in? %>
<%= link_to "Add a comment", new_project_comment_path(@project) %>
<% if current_user.admin? %>

 <p><%= link_to "Delete", @project,
                          :data => {:confirm => "Are you sure?",
                                    :method => "delete"} %></p>
<% end %>
<% end %>
  <p><%= link_to "Return to projects", projects_path %></p>
