<div class="recommendation_index">
  <h2>Click here:
    <a href="<%= @project.link %>"><%= @project.title%></a>
  </h2>
  <%= image_tag @project.picture_url.to_s, class: 'project_image'%>
  <br>

  <h2>Technologies:<%= @project.skill %></h2>

  <h2>Description:</h2>
  <%= @project.description%>

  <br>
  <% if @project.comments.any? %>
  <h2>Here are the reviews for this project:</h2>
  <div class="reviews_show">

    <ol>
      <% @project.comments.each do |comment| %>

      <li><%= comment.user_id %>
        <%= comment.review %></li>
      <% if current_user && current_user.id == comment.user_id %>|
      <%= link_to "Edit", edit_project_comment_path(@project, comment) %>
      |
      <%= link_to "Delete", project_comment_path(@project, comment),
                                 :data => {:confirm => "Are you sure?",
                                                :method => "delete"} %>
    </li>
    <% end %>

    <% end %>

  </ol>
</div>
<% if !user_signed_in? %>
<p>Sign in to comment -
  <a href="/users/sign_in">Sign in</a>
</p>
<% end %>

<% else %>
<p>There are no reviews yet!</p>
<% end %>

<% if user_signed_in? %>
<%= link_to "Add a comment", new_project_comment_path(@project) %>
<% if current_user.admin? %>
<p><%= link_to "Edit", edit_project_path(@project) %></p>

<p><%= link_to "Delete", @project,
                          :data => {:confirm => "Are you sure?",
                                    :method => "delete"} %></p>
<% end %>
<% end %>
<p><%= link_to "Return to projects", projects_path %></p>
</div>
