<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>RailsPorfolio</title>
    <%= csrf_meta_tags %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script
    src="http://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="nav nav-bar" style="background-color:#ff6600; text-align:center;">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/projects">EL-Portfolio</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/projects">Projects <span class="sr-only">(current)</span></a></li>
              <li><a href="#">comments</a></li>
              <li><a href="">show</a></li>
              <li><a href="#">jobs</a></li>
              <li><a href="/recommendations">Recommendations</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <div class="online">
                <% if user_signed_in? %>
                <p>Hello, <%= current_user.email %></p>
                <%= button_to "Logout", destroy_user_session_path, :method => 'delete', class: "btn btn-default" %>
                <% end %>
                <% if !user_signed_in? %>
                <p><%=link_to "sign up", new_user_registration_path%> OR
                <%=link_to "log in", new_user_session_path%></p>
                <% end %>
              </div>
            </ul>
            </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
        </div>
        <div class="main">
          <p><%= notice %></p>
          <p><%= alert %></p>
          <%= yield %>
        </div>
        <div class="container-fluid">
          <div class="row">
            <footer class="footer-distributed">
              <div class="footer-left">
                <div class="row"><span class="hidden-xs">
                  <h3><span></span>
                  <a href="mailto:paulnderitu17@gmail.com">
                    <p class="footer-links">
                      <a href="mailto:paulnderitu17@gmail.com">
                        <%= image_tag "portpic.jpg", class: "img-circle img-responsive",  alt:"...", style:"width:20%; height:20%"  %>
                      </a>
                      <a href="mailto:paulnderitu17@gmail.com">Feedback</a><br>
                      <a href="https://paulnderitu.github.io/portfolio/">My Web Links</a>
                      <a href="mailto:paulnderitu17@gmail.com">Suggestion Box</a>
                    </p>
                  </span>
                </div>
              </div>
              <div class="footer-center">
                <div>
                  <i class="fa fa-map-marker"></i>
                  <p><span>Current Location:
                    <a href="https://www.google.co.ke/maps/place/Moringa+School/@-1.3005085,36.7824185,17z/data=!3m1!4b1!4m5!3m4!1s0x182f1a6bf7445dc1:0x940b62a3c8efde4c!8m2!3d-1.3005085!4d36.7846072?hl=en&authuser=0">Maps</a></p>
                  </div>
                  <div>
                    <i class="fa fa-phone"></i>
                    <p><span>International No: +1 646-712-9830</span><br>
                  </div>
                  <div>
                    <i class="fa fa-phone"></i>
                    <p><span>Mobile 1 : +254 718 115 147</span></br>
                  </div>
                  <div>
                    <i class="fa fa-phone"></i>
                    <p><span>Mobile 2 : +254 726 930032<br>(1:00pm-2:00pm Local Time Only)</span></p>
                  </div>
                  <div>
                    <i class="fa fa-mobile"></i>
                    <p><span>Text: +254 728115147 | Twitter: @paulnderitu17</span></p>
                  </div>
                  <div>
                    <i class="fa fa-envelope"></i>
                    <p><a href="mailto:paulnderitu17@gmail.com">Ask An Expert</a></p>
                  </div>
                </div>
                <div class="footer-right">
                  <p class="footer-company-about">
                    </br>
                    </br>
                    </br>
                    <div class="row"><span class="hidden-xs">
                      <span><h3>My Mission Statement:</span></h3>
                      <p></p>
                      <h4><font color="white">Changing the future in App and Web Developments through Discovery and Creation of Knowledge.
                    </p>
                  </div>
                </span>
                <div class="footer-icons">
                  <a href="https://www.facebook.com/paulnderitu17" target="_blank"><i class="fa fa-facebook"></i></a>
                  <a href="https://twitter.com/nderitusparks" target="_blank"><i class="fa fa-twitter"></i></a>
                  <a href="https://www.instagram.com/nderitusparks/" target="_blank"><i class="fa fa-instagram"></i></a>
                  <a href="https://www.pinterest.com/listapoll/" target="_blank"><i class="fa fa-pinterest-square"></i></a>
                  <a href="https://www.linkedin.com/in/paul-nderitu-565474122/" target="_blank"><i class="fa fa-linkedin"></i></a>
                  <a href-"https://www.youtube.com/channel/UCCFEewWtZWt1GVdF0iVsXRw" target="_blank" > <i class="fa fa-youtube"></i></a>
                  </br>
                  </br
                  Mo-Technologies © 2017</h4></font>
                </li>
              </li>
            </li>
          </li>
        </li>
      </li>
    </li>
  </li>
  <div>
    <div>
      <div>
      </div>
    </div>
  </div>
  <!--end of row-->
</div>
</footer>
</div>
</div>
</div>
<!--end of container-->
</body>
</html>